[[+view]]

[[+resources:is=``:then=`<p>No resources here.</p>`:else=`
<h2>Resources</h2>
<ul data-inset="true" data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-dividertheme="a">
    [[+resources]]
</ul>
`]]