.input-append, .input-prepend {
	font-size: 14px;
}

div.fb-comments, div.fb-comments span, div.fb-comments span iframe {
	width: 100% !important;
}

@media (max-width: 768px) {
	.affix {
		position: static;
		width: auto;
		top: 0;
	}
}

.affix {
	top: 57px;
	width:inherit;
}

.affix-top {
	width: inherit;
}

.jumbotron {
	padding:30px 10px;
	position: relative;
	margin-bottom: 20px;
	color: white;
	/* 	text-shadow: 1px 1px 2px #404996; */
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	margin-left: -20px;
	margin-right: -20px;
	/* Gradiant Link Back: http://www.colorzilla.com/gradient-editor/#630057+0,00083d+100;Custom */
	background: #630057; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #630057 0%, #00083d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#630057), color-stop(100%,#00083d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #630057 0%,#00083d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #630057 0%,#00083d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #630057 0%,#00083d 100%); /* IE10+ */
	background: linear-gradient(45deg,  #630057 0%,#00083d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630057', endColorstr='#00083d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/i/pattern.png') repeat center center;
  opacity: .4;
}
.jumbotron .container {
	position: relative;
	z-index: 2;
}

.jumbotron h1 {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

.home {
	text-align: center;
	padding: 50px 10px;
}

.home h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}

.home h2 {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

@media (max-width: 768px) {
	.home h1 {
		font-size: 90px;
	}
	.home h2 {
		font-size: 24px;
	}
}
@media (max-width: 480px) {
	.home h1 {
		font-size: 60px;
	}
	.home h2 {
		font-size: 20px;
	}
}

.navbar-fixed-top {
	margin-bottom: 0px;
}