<div data-role="fieldcontain">
    <label for="upd_[[+name]]">[[+title]]</label>
    <select name="[[+name]]" id="upd_[[+name]]" data-role="slider">
        <option value="0" [[+no]]>No</option>
        <option value="1" [[+yes]]>Yes</option>
    </select>
</div>