<p>[[+message]]</p>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#" data-icon="back" data-rel="back" data-transition="pop" data-role="button">Back</a>
    <a href="[[+baseUrl]]" data-icon="home" data-transition="flip" data-role="button">Home</a>
</div>